    <h1>Awesome cocktails</h1>
    <h2><%= link_to "Add a cocktail", new_cocktail_path %></h2>
    <br>
    <% @cocktails.each do |cocktail| %>
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
    <% end %>


      </div>

<%= cl_image_tag("wrwcyqb5vdwgr8cnoacy", width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("v1573209752/spvtmdx4wmezgxan1oxo", width: 150, height: 150, crop: :thumb, gravity: :face) %>
